.loading {
  height: calc(100dvh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    height: 3em;
    width: 3em;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
