.loading {
  margin-top: calc(50dvh - 5rem);
  display: flex;
  justify-content: center;

  & > svg {
    height: 3rem;
    width: 3rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
