.header {
  height: var(--navbar-height);
  margin-inline: 1em;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.navLink {
  color: var(--header-foreground-color);
  text-decoration: none;
}

.navLinkActive {
  @extend .navLink;
  font-weight: bold;
}
