.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--navbar-height);
  margin-inline: 1em;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  background-color: var(--navbar-background-color);
}

.navLink {
  color: var(--main-foreground-color);
  text-decoration: none;
}

.navLinkActive {
  @extend .navLink;
  font-weight: bold;
}

.colorThemeSwitch svg {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
